.todo-form {
    font-size: 1.25em;
    margin: 0 auto;
    width: 100%;
}

.todo-text-container {
    border-radius: 1rem;
    display: flex;
    border: 0.2rem solid rgba(245, 222, 179, 0.347);
    align-items: center;
    padding-left: 0.75rem;
    column-gap: 1rem;
    padding: 1rem 0.5rem;
}

.two-rows-title-desc-cntr {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.todo-text {
    outline: none;
    background-color: transparent;
    border: 0;
    width: 100%;
    padding: 0.5rem;
    display: block;
    color: white;
}

.title {
    font-weight: 700;
    font-size: 1.5em;
}

.desc {
    font-size: 1em;
}

.todo-button {
    font-size: 1em;
    height: 2rem;
    aspect-ratio: 1/1;
    font-weight: 900;
    border-radius: 0.25rem;
    border: 0 transparent;
    background-color: #61dafb;
    cursor: pointer;
}

/* INPUT CONTAINER  */
.input-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    /* padding: 5px 10px 10px 10px; */
    background: var(--body-background-color);
    border-radius: 8px;
    filter: drop-shadow(0px 0px 3px #000);
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    overflow: hidden;
    cursor: pointer;
    transition: 1s transform ease-out;
    outline: 2px solid rgba(50, 205, 66, 0.313);
}
.input-container:hover,
.input-container:focus,
.input-container:active {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.input-container label {
    position: relative;
    width: 100%;
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    color: darkblue;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #61dafb;
    padding: 0 4px;
}
.input-container input {
    position: relative;
    align-items: center;
    height: auto;
    font-weight: 600;
    font-size: 0.6rem;
    letter-spacing: 0.05em;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: 0px;
    padding: 0 4px;
}
